.arrow {
  pointer-events: none;
}
 
.arrow__path {
  stroke: #000;
  fill: transparent;
  stroke-dasharray: 4 2;
}
 
.arrow__head line {
  stroke: #000;
  stroke-width: 1px;
}

.dndflow {
  
  flex-direction: column;
  display: flex;
  height: 100%;
}

.dndflow aside {
  border-right: 1px solid #eee;
  padding: 15px 10px;
  font-size: 12px;
  text-decoration-color: #eee;
  background: #d5f1f1;
  color:black;
  text-align: center;
}

.dndflow aside .description {
  margin-bottom: 10px;
  color:black;

}
.dndflow .dndnode.output {
  background: #0041d0;
  width: 100px;
  height: 40px;
  color:white;
  border-color: #0041d0;
  margin-bottom:-2px;
  border-radius: 50%;
}
.dndflow .dndnode.input {
  border-radius: 50%;
  color: white;
  width: 100px;
  border-color: black;
  background-color: #0041d0;
}

.dndflow .dndnode {
  height: 40px;
  width: 200px;
  padding: 4px;
  border: 1px solid #1a192b;
  border-radius: 2px;
  margin-bottom: 10px;
  display: flex;
  color: rgb(255, 255, 255);
  justify-content: center;
  align-items: center;
  cursor: grab;
}


.dndflow .dndnode.default {
  color: #eee;
  width: 300;
  height: 100;
  background: #000000;
  border-color: #0041d0;
}

.dndflow .dndnode.data {
  color: #eee;
  width: 300;
  height: 100;
  background: #10033f;
  border-color: #10033f;
  margin-bottom:-2px;

}
.dndflow .dndnode.UNI{
  background: rgb(179, 21, 21);
  width: 100px;
  height: 10;
  color:white;
  border-color: black;
  margin-bottom:-2px;

}

.dndflow .dndnode.FTP {
  background: blue;
  width: 100px;
  color:white;
  border-color: black;
  margin-bottom:-2px;
}
.dndflow .dndnode.P6 {
  background: rgb(247, 206, 159);
  width: 100px;
  color:white;
  border-color: black;
  margin-bottom:-2px;

}
.dndflow .dndnode.SQL {
  background: rgb(250, 23, 23);
  width: 100px;
  color:white;
  border-color: black;
  margin-bottom:-2px;

}
.dndflow .dndnode.CSV{
  background: rgb(186, 82, 255);
  width: 100px;
  color:white;
  border-color: black;
  margin-bottom:-2px;

}
.dndflow .dndnode.Email{
  background: rgb(54, 110, 37);
  width: 100px;
  color:white;
  border-color: black;
  margin-bottom:-2px;

}
.dndflow .dndnode.diamond {
  padding: 0px;
  border: 1px solid black;
  width: 50px;
  height: 50px;
  border-radius: 5%;
  transform: rotate(45deg);
  display: flex;
  align-items: center;
  justify-content: center;
  background: #61f832;
  color: #61f832;
  
}

.dndflow .reactflow-wrapper {
  flex-grow: 1;
  height: 100%;
}
.targetHandleStyle {
  background: "#555";
}
.targetHandleStyle .sourceHandleStyleA {
  top: 10;
}

.targetHandleStyle .sourceHandleStyleB {
  bottom: 10;
}


.boundngBox {
  display: flex;
  flex-direction: column;
}
.description {
  padding:20px;
}
aside .dndnode.diamond {
  margin-left: 20px;
}

@media screen and (min-width: 768px) {
  .dndflow {
    flex-direction: row;
  }

  .dndflow aside {
    width: 100px;
    padding:0px;
    padding-bottom: 80px;
    height: 100%;

  }
}